[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
requests = "*"
wtforms = "*"
blueprints = "*"
flask-sqlalchemy = "*"
cymysql = "*"
flask-login = "*"
flask-migrate = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
